
html, body {
    height: 100%;
}

body.content-page {
    background-color: #000 !important;
    max-width: 566.9pt;
    padding-left: 10px;
    margin-top: 0;
    margin-left: 5px;
}

/*
Styles for the content pages
*/

.logo-bar-container {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.line {
    border: 0;
    border-bottom: 1px white solid;
}

hr {
    border: 0;
    border-bottom: 1px white solid;
}

ul.menu {
    text-align: left;
    display: inline;
    margin: 0;
    position: absolute;
    right: 15px;
    padding: 0 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

ul.menu li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 7px 6px;
    background: #000;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

ul.menu li:hover {
    background: #000;
    color: #fff;
}

ul.menu li ul {
    padding: 0;
    position: absolute;
    top: 48px;
    border-bottom: 1px white solid;

    right: 10px;
    width: 150px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

ul.menu li ul li {
    border-top: 1px white solid;
    background: #000;
    display: block;
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}

ul.menu li ul li:hover {
    background: #000;
}

ul.menu li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.menu a {
    text-decoration: none;
    color: white;
}

.powered-by {
    font-size: 70%;
    position: absolute;
    margin-top: 30px;
    margin-bottom: 5px;
    color: white;
    font-family: 'Courier New', Courier, monospace
}

@media (max-height: 480px) {
    .powered-by {
        margin-top: 10px;
    }
}

.content-button {
    height: 25px;
    border: 1px white solid;
    padding: 2px 2px;
}