{% load static %}
{% load i18n %}
<!doctype html>
<!--[if lt IE 7]>      <html itemscope itemtype="http://schema.org/CollectionPage" lang="en" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html itemscope itemtype="http://schema.org/CollectionPage" lang="en" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html itemscope itemtype="http://schema.org/CollectionPage" lang="en" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">  <!--<![endif]-->
<head>
    <!-- Meta info -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>Information </title>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68574649-1', 'auto');
        ga('send', 'pageview');

    </script>

    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="{{ cons.path.favicons }}/mstile-144x144.png">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="{% static "css/site.css" %}"/>

    <!-- Font and Styles -->
    <style>

    </style>
</head>
<body class="content-page">
<ul class="menu">
    <li>
        <a href="/map/"> <img src="{% static "images/map-marker.png" %}" alt="Other Locations" class="content-button"/></a>
    </li>
    <li>
        <img src="{% static "images/translate.png" %}" alt="Other Languages" class="content-button"/>
        <ul>
            {% for l in languages %}
                <li><a href="/{{ location.slug }}/{{ l.iso_code }}/">{{ l.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% if service_map_enabled %}
        <li>
            <a href="/{{ location.slug }}/services/">
                <img src="{% static "images/book.png" %}" alt="Services" class="content-button"/>
            </a>
        </li>
    {% endif %}
</ul>
<div class="logo-bar-container">
    <img src="{% static "images/logobar.png" %}" alt="IRC | MercyCorps">
    <hr/>
</div>

{% if is_captive %}
    <div style="margin-bottom: 5px">
        <h3>
            {% if provider %}
                {% trans "This is a free wifi hotspot provider by " %} {{ provider }}.
            {% endif %}
            {% blocktrans %}
                Tap the button below to continue to the internet, or
                scroll
                below for important information about this location.
            {% endblocktrans %}</h3>
        <a class="link-button" href="{{ next }}">{% trans "CONTINUE TO THE INTERNET" %}</a>
    </div>
{% endif %}

<div id="container">
    {{ html_content|safe }}
</div>

<h3 class="anchor">
    <a name="OtherLocations">{% trans "OTHER LOCATIONS" %}</a><br>
    <a href="#top" class="back-to-top">Back to top</a>
</h3>
<hr class="title-hr" style="margin-bottom: 1em;" />
<a class="link-button" href="/">{% trans "GO TO OTHER LOCATIONS" %}</a>
{% include "footer.html" %}
</body>
</html>
