{% load static %}
<!DOCTYPE html>
<html ng-app="serviceApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width" name="viewport">
    <title>Service Map</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/Leaflet.vector-markers.css" %}">
    <link rel="stylesheet" href="{% static "css/site.css" %}"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68574649-1', 'auto');
        ga('send', 'pageview');

    </script>
    <style type="text/css">
        .hide {
            display: none;
        }

        body {
            background-color: #000 !important;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .leaflet-popup {
            color: black;
        }

        .leaflet-popup a {
            color: black;
        }

        .page {
            position: absolute;
            padding: 0;
            margin: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        #content {
            margin: 5px 5px 5px 5px;
        }

        .mini-map {
            width: 95%;
            height: 150px;
            padding: 5px 5px 5px 5px;
            margin-bottom: 10px;
        }

        .button {
            color: white;
            background-color: black;
            border: 1px white solid;
            height: 35px;
            font-size: 1em;
        }

        .fill {
            width: 98%;
        }

    </style>
</head>
<body>
<div class="page" ng-view></div>
<script type="text/ng-template" id="map.html">
    <!-- {% verbatim %} -->

    <button id="backButton" onclick="backToInfoPage()" style="
            background-color: black;
            color: white;
            border: 1px white solid;
            padding: 5px 5px;
            margin: 5px 5px;
            z-index: 12345;
            position: absolute;
            top: 0;
            right: 0;">
        <i class="fa fa-info-circle fa-2x"></i>
    </button>
    <div id="map" class="page" service-map>

        <!-- {% endverbatim %} -->
</script>
<script type="text/ng-template" id="detail.html">
    <button id="backButton" ng-click="back()" style="
            background-color: black;
            color: white;
            border: 1px white solid;
            padding: 5px 5px;
            margin: 5px 5px;
            z-index: 12345;
            position: absolute;
            top: 0;
            right: 0;">
        <i class="fa fa-globe fa-2x"></i>
    </button>
    <div id="content" class="page">
        <!-- {% verbatim %} -->

        <h2>
            {{ service.name }}
        </h2>

        <h3>
            <small>
                {{ service.description }}
            </small>
        </h3>

        <div class="mini-map" id="location"></div>
        <button ng-click="openMaps(service)" class="button fill">Get
            Directions
        </button>

        <h4>
            <small>
                {{ service.additional_info }}
            </small>
        </h4>

        <!-- {% endverbatim %} -->
        {% include "footer.html" %}
    </div>

</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>
<script type="text/javascript" src="//stamen-maps.a.ssl.fastly.net/js/tile.stamen.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js">
</script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js">
</script>

<script src="{% static "js/utils.js" %}"></script>
<script src="{% static "js/zepto.Deferred.js" %}"></script>
<script src="{% static "js/Leaflet.vector-markers.min.js" %}"></script>

<script type="text/javascript">
angular.module('serviceApp', ['ngRoute', 'ngAnimate'])
        .config(function ($routeProvider) {
            var resolveProjects = {
                projects: function (Projects) {
                    return Projects.fetch();
                }
            };

            $routeProvider
                    .when('/', {
                        controller: 'MapController as vm',
                        templateUrl: 'map.html'
                    })
                    .when('/detail/:serviceId', {
                        controller: 'ServiceController as vm',
                        templateUrl: 'detail.html'
                    })
                    .otherwise({
                        redirectTo: '/'
                    });
        })
        .constant('apiRoot', "https://serviceinfo-staging.rescue.org/api")

        .factory('wktToLatLong', function () {
            return  function (wkt) {
                var parsedLocation = /\(([\d\.]+)\s([\d\.]+)\)/.exec(wkt);
                if (parsedLocation) {

                    parsedLocation.shift();
                    parsedLocation.reverse();
                    return parsedLocation;
                } else {
                    return []
                }

            };
        })

        .factory('translateObject', function () {
            return function translateObject(obj) {
                var currentLocale = navigator.language.split('-')[0].toLowerCase();

                if (navigator.languages && navigator.languages.length) {
                    currentLocale = navigator.languages[0].split('-')[0].toLowerCase();
                }

                var searchString = "_" + currentLocale;
                if (!currentLocale) {
                    return obj;
                }

                var keys = Object.keys(obj);
                var filtered = keys.filter(function (k) {
                    return k.indexOf(searchString) == k.length - 3 && k.length - 3 > -1;
                });

                if (!filtered.length) {
                    filtered = keys.filter(function (k) {
                        return k.indexOf('_en') == k.length - 3 && k.length - 3 > -1;
                    });
                }


                filtered.forEach(function (key) {
                    var splitKey = key.split('_');
                    splitKey.pop(); // removing language
                    var newKey = splitKey.join('_');

                    if (obj[key]) {
                        obj[newKey] = obj[key];
                    } else {
                        // falling back to english
                        obj[newKey] = obj[newKey + '_en'];

                    }

                });
                return obj;
            };

        })

        .directive('miniMap', function () {
            return {
                restrict: 'C',
                scope: false,
                link: function (scope, element, attrs) {
                    scope.$watch('coords', function () {
                        if (scope.coords) {

                            var layer = new L.StamenTileLayer("toner");

                            scope.map = new L.Map(attrs['id'], {
                                center: new L.LatLng(scope.coords[0], scope.coords[1]),
                                zoom: 12
                            });
                            var map = scope.map;
                            map.addLayer(layer);


                            L.marker(scope.coords)
                                    .addTo(map)
                                    .bindPopup(scope.service.name_en);
                        }

                    });

                }
            }
        })

        .directive('serviceMap', function ($timeout) {
            return {
                restrict: 'A',
                scope: false,
                link: function (scope, element, attrs) {
                    var layer = new L.StamenTileLayer("toner");

                    scope.map = new L.Map("map", {
                        center: new L.LatLng(49, 24),
                        zoom: 4
                    });
                    var map = scope.map;

                    map.addLayer(layer);

                    var geoJson = {{ extent|safe }};
                    var extent = L.geoJson(geoJson);

                    map.locate({setView: false });

                    function onLocationFound(e) {
                        var radius = e.accuracy / 2;
                        var manMarker = L.VectorMarkers.icon({
                            icon: 'male',
                            markerColor: 'blue'
                        });


                        L.marker(e.latlng, {icon: manMarker}).addTo(map)
                                .bindPopup("You are within " + radius + " meters from this point");

                        L.circle(e.latlng, radius).addTo(map);
                    }

                    map.on('locationfound', onLocationFound);

                    map.fitBounds(extent);
                }
            }
        })

        .controller('MapController', function ($scope, $http, apiRoot, wktToLatLong) {
            $scope.$watch('map', function () {
                var map = $scope.map;
                var center = map.getBounds().getCenter();

                var extentUrl = apiRoot + '/services/search/?limit=500&closest=' + [center.lat, center.lng].join('%2C');
                $http.get(extentUrl).then(function (req) {
                    $scope.services = req.data.results;
                    var currentFeatures = new L.FeatureGroup();
                    $scope.services.forEach(function (s) {
                        var parsedLocation = wktToLatLong(s.location);
                        if (parsedLocation.length) {
                            var redMarker = L.VectorMarkers.icon({
                                icon: 'bus',
                                markerColor: 'red'
                            });

                            var template = s.name_en + "<br/ >" +
                                    "<a href=\"#/detail/" + s.id + "\">" +
                                    "Open" +
                                    "</a><br/>";

                            L.marker(parsedLocation, {icon: redMarker})
                                    .addTo(currentFeatures)
                                    .bindPopup(template);
                        }
                    });

                    currentFeatures.addTo(map);
                });
            });
        })

        .controller('ServiceController', function ($scope, $location, $routeParams, $http, apiRoot, wktToLatLong, translateObject) {
            var fetchUrl = apiRoot + '/services/search/?id=' + $routeParams.serviceId;
            $http.get(fetchUrl).then(function (req) {
                $scope.service = req.data[0];
                var providerUrl = apiRoot + $scope.service.provider_fetch_url.replace("/api", "");

                $http.get(providerUrl).then(function (preq) {
                    $scope.provider = preq.data;

                    translateObject($scope.service);
                    translateObject($scope.provider);

                    $scope.coords = wktToLatLong($scope.service.location);
                });

            });

            $scope.back = function () {
                $location.path('/');
            };
            $scope.openMaps = function (s) {
                document.location = "http://maps.google.com/maps?q=loc:" + wktToLatLong(s.location).join("%2C");
            };


        })
;
</script>

<script type="text/javascript">
    function backToInfoPage() {
        location.href = '/{{ slug }}/';
    }
    function initialize() {
        var layer = new L.StamenTileLayer("toner");

        window.map = new L.Map("map", {
            center: new L.LatLng(49, 24),
            zoom: 4
        });
        map.addLayer(layer);

        var geoJson = {{ extent|safe }};
        var extent = L.geoJson(geoJson);

        map.locate({setView: false });

        function onLocationFound(e) {
            var radius = e.accuracy / 2;

            L.marker(e.latlng).addTo(map)
                    .bindPopup("You are within " + radius + " meters from this point");

            L.circle(e.latlng, radius).addTo(map);
        }

        map.on('locationfound', onLocationFound);

        map.fitBounds(extent);
        var currentFeatures = new L.FeatureGroup();

        function redraw() {
            currentFeatures.clearLayers();

            var center = map.getBounds().getCenter();
            var apiRoot = "https://serviceinfo-staging.rescue.org/api";

            $.getJSON(apiRoot + '/services/search/?limit=500&closest=' + [center.lat, center.lng].join('%2C'))
                    .then(function (services) {
                        services.results.forEach(function (s) {
                            var parsedLocation = /\(([\d\.]+)\s([\d\.]+)\)/.exec(s.location);
                            if (parsedLocation) {

                                parsedLocation.shift();
                                var redMarker = L.VectorMarkers.icon({
                                    icon: 'bus',
                                    markerColor: 'red'
                                });

                                L.marker(parsedLocation.reverse(), {icon: redMarker})
                                        .addTo(currentFeatures)
                                        .bindPopup(s.name_en);
                            }
                        });

                        currentFeatures.addTo(map);
                    });
        }

        redraw();
    }


</script>

</body>
</html>
